@font-face {
  font-family: 'Arial-MT';
  src: url('../fonts/ari.ttf') format('truetype');
}

/* Site-Wide Styles */

html {
  font-size: 16px;
}

body {
  font-family: 'Arial-MT', sans-serif;
  color: #031926;
  transition: all .2s ease-in;
}

a {
  text-decoration: none;
  transition: all .2s ease-in;
}

a:hover {
  text-decoration: underline;
  transition: all .2s ease-in;
  font-weight: bold;
  color: #3E505B;
}

h3 {
  font-weight: bolder;
  font-size: 1.2em;
  color: #294C7C;
}

h4 {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 1.1em;
  margin-bottom: .5rem;
  color: #294C7C;
}

input,
textarea,
select {
  border-radius: 3px;
  background-color: hsla(0, 0%, 89%, 1);
  padding: 1rem;
}

.overlay {
  z-index: 1;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  transition: all .2s ease-in;
}

.overlay * {
  transition: all .2s ease-in;
}


/* Reusable Component - Button */

.button {
  border-radius: 30px;
  background-color: #3E505B;
  text-align: center;
  color: hsla(0, 0%, 93%, 1);
  transition: .25s;
}

header .button {
  background-color: hsla(0, 0%, 80%, 1);
  color: #3E505B;
  font-weight: bold;
}

.button:hover {
  font-weight: inherit;
  background-color: #031926;
  color: #FFFFFF;
}

header .button:hover {
  background-color: #FFFFFF;
  color: #031926;
}

/* Reusable Component - Image Container */

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Reusable Component - Product List */

.product-list-section {
  margin: 2rem 5rem 2rem 5rem;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 2rem 0;
  grid-gap: 2rem;
  justify-items: center;
}

.product-category {
  border-radius: 4px;
  background-color: hsla(0, 0%, 100%, 1);
  border: solid 1px hsla(0, 0%, 91%, 1);
}

.product-category .description-category {
  padding: 1.5rem;
  text-align: left;
}

.product-category h3 {
  margin-bottom: .75rem;
  color: hsla(0, 0%, 29%, 1);
}

.product-item {
  border-radius: 4px;
  background-color: hsla(0, 0%, 100%, 1);
  border: solid 1px hsla(0, 0%, 91%, 1);
}

.product-category:hover,
.product-item:hover {
  box-shadow: 0px 0px 10px 5px rgba(5, 5, 5, 0.5);
  border: solid 1px rgba(5, 5, 5, 0.5);
}

.product-item .description {
  padding: 1.5rem;
  text-align: left;
}


.product-item h3 {
  margin-bottom: .75rem;
  color: hsla(0, 0%, 29%, 1);
  position: relative;
  display: block;
}

.product-item .price {
  color: hsla(0, 0%, 29%, 1);
}


/* Reusable Component - Form Field With Label */
.field {
  display: flex;
  flex-direction: column;
}

.field label {
  padding-bottom: .1rem;
  color: #294C7C;
  font-weight: bold;
  padding-left: 1rem;
}


/* Reusable Component - Navigation Breadcrumbs */
.breadcrumb {
  margin: .5rem;
  list-style: none;
  text-align: left;
}

.breadcrumb li {
  color: #fff;
  background: #294C7C;
  text-decoration: none;
  position: relative;
  text-align: center;
  height: 1.5rem;
  line-height: 1.5rem;
  margin-right: .75rem;
  padding: 0 .25rem;
  font-size: inherit;
  float: left;
}

.breadcrumb li::before,
.breadcrumb li::after {
  content: "";
  position: absolute;
  border-color: #294C7C;
  border-style: solid;
  border-width: .75rem .25rem;
}

.breadcrumb li::before {
  left: -.5rem;
  border-color: #294C7C;
  border-left-color: transparent;
}

.breadcrumb li::after {
  left: 100%;
  border-color: transparent;
  border-left-color: #294C7C;
}

.breadcrumb li:hover {
  background-color: #031926;
}

.breadcrumb li a:hover {
  color: #fff;
  font-weight: inherit;
}

.breadcrumb li:hover::before {
  border-color: #031926;
  border-left-color: transparent;
}

.breadcrumb li:hover::after {
  border-left-color: #031926;
}

/* Site-Wide Grid */

.container {
  display: grid;
  grid-template-areas: 'header'
    'nav'
    'main'
    'footer';
}


/* Header */

header {
  display: grid;
  grid-area: header;
  grid-template-areas: "logo search cart";
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 1rem 5rem;
  font-size: inherit;
  background-color: #031926;
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
  grid-gap: 2rem;
}

.logo {
  grid-area: logo;
}

.search-bar {
  display: flex;
  border-radius: 33px 53px 33px 53px;
  width: 100%;
  grid-area: search;
}

.search-bar input {
  flex-grow: 1;
  border-top-right-radius: 0;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 30px;
  width: 100%;
  padding-right: 0;
  background-color: #FFFFFF;
}


.search-bar .icon {
  background-color: hsla(0, 0%, 89%, 1);
  border-radius: 0 53px 53px 0;
  padding: 1rem;
}

.search-bar .icon:hover {
  background-color: #FFFFFF;
  border-left: solid 1px hsla(0, 0%, 80%, 1);
}

.search-bar .icon img {
  vertical-align: middle;
}

.cart {
  justify-self: end;
  display: flex;
  align-items: center;
  padding: .875rem 1rem;
  border-radius: 54px;
  grid-area: cart;
}

.cart img {
  padding-left: .625rem;
}

nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  grid-area: nav;
  background-color: hsla(0, 0%, 80%, 1);
  padding: 1rem 5rem;
}

nav a {
  font-weight: bold;
  color: #031926;
  padding: 2px .5rem;
  border-radius: 1rem;
}

nav a:visted {
  color: hsla(0, 0%, 29%, 1);
}

nav a:hover {
  color: hsla(0, 0%, 98%, 1) !important;
  background-color: #031926;
  font-weight: inherit;
}

/* Main Section */

#main {
  grid-area: main;
  display: grid;
  justify-items: center;
  text-align: left;
  background-color: hsla(0, 0%, 98%, 1);
  border-top: 1px solid hsla(0, 0%, 98%, 1);
}

#main h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #294C7C;
}

#main .button {
  box-sizing: border-box;
  padding: 1rem;
}

/* Footer */

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1.5rem;
  background-color: hsla(0, 100%, 100%, 1);
  grid-gap: 1rem;
}

footer img {
  align-self: center;
  justify-self: center;
  max-width: 50%;
}

footer .links {
  display: grid;
  grid-gap: .3rem;
}

footer a {
  color: hsla(0, 0%, 29%, 1);
}

/* Media Queries */

@media only screen and (max-width: 1100px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 810px) {
  footer {
    grid-template-columns: repeat(3, 1fr);
  }

  footer img {
    grid-column: 1 / span 3;
  }

  header {
    grid-template-areas: "logo logo"
      "search cart";
    grid-template-columns: 1fr;
    max-width: 100vw;
    grid-gap: .5rem
  }

  .logo {
    justify-self: center;
    justify-content: center;
    margin: auto;
  }

  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 700px) {
  nav {
    grid-template-columns: repeat(3, 1fr);
    max-width: 100vw;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-items: center;
    grid-gap: .5rem;
  }
}

@media only screen and (max-width: 520px) {
  footer {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }

  footer img {
    grid-column: auto;
  }

  header {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  nav {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .product-list-section {
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    margin: 2rem 0 0 0;
  }

  .product-list {
    grid-template-columns: 1fr;
  }

  .product-list * {
    width: 100%;
    justify-content: center;
  }

  .product-item,
  .product-category {
    width: 90%;
    justify-self: center;
    box-sizing: border-box;
  }
}